body{
  font-family: "Helvetica", Arial;
  font-size: 16px;
  margin: 0;
}

.slide{
  background: #0D2258;
  position: absolute;
  height: 80%;
  width: 80%;
  font-size: 2em;
  color: white;
  padding: 10%;
}

h1, h2, h3, h4, h5{
  font-weight: lighter;
  font-family: courier;
}